<div class="shape-component">
  <h2>Open browser console to see entry/exit callbacks order</h2>
  <div class="state-container">
    <div class="button-panel-container">
      <div class="button-panel">
        <button class="action-button" type="button" (click)="setShape(undefined)">Reset Shape</button>
        <button *ngFor="let enum of MyShape | keyvalue" class="action-button" type="button"
          (click)="setShape(enum.key)">
          Set Shape {{ enum.value}}
        </button>

        <span>Control Value: {{formControlShape.value}}</span>
      </div>

      <div class="button-panel">
        <button class="action-button" type="button" (click)="setLetter(undefined)">Reset Letter</button>
        <button *ngFor="let enum of MyLetter | keyvalue" class="action-button" type="button"
          (click)="setLetter(enum.key)">
          Set Letter {{ enum.value}}
        </button>

        <span>Control Value: {{formControlLetter.value}}</span>
      </div>

      <div class="button-panel">
        <button class="action-button" type="button" (click)="setColor(undefined)">Reset Color</button>
        <button *ngFor="let enum of MyColor | keyvalue" class="action-button" type="button"
          (click)="setColor(enum.key)">
          Set Color {{ enum.value}}
        </button>

        <span>Control Value: {{formControlColor.value}}</span>
      </div>
    </div>

    <div *ngIf="shapeVisibility" class="shape" [ngClass]="[getShapeClass(), shapeColorClass ? shapeColorClass : '']">
      <span *ngIf="innerLetter" class="inner-letter">{{innerLetter}}</span>
    </div>
  </div>

  <app-tree-graph [formStateMachine]="mymachine"></app-tree-graph>
</div>